/* Age Gap Calculator. */
/* Created by Christian Apeku on 06/21/2023. */
/* © 2023 Capeku. */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-Regular.ttf') format('truetype');
  src: url('/assets/fonts/Poppins-Bold.ttf') format('truetype');
  src: url('/assets/fonts/Poppins-BoldItalic.ttf') format('truetype');
  src: url('/assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
  src: url('/assets/fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
  src: url('/assets/fonts/Poppins-Italic.ttf') format('truetype');
  /* Add additional font variants if available */
}

/* For Mobile devices */
@media only screen and (max-width: 375px) {
  body {
    font-size: 10px;
  }
}

/* For Desktop devices */
@media only screen and (max-width: 1440px) {
  body {
    background: hsl(0, 0%, 94%);
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
    font-size: 13px;
    height: 100%;
  }

  .wrapper {
  display: grid;
  grid-template-columns: .7fr 2fr .7fr;
  grid-template-rows: .5fr 2fr .5fr;
  }

  .wrapper .mainCard {
    background: hsl(0, 0%, 100%);
    border-radius: 1rem 1rem 4rem 1rem;
    padding: 40px;
    grid-row: 2/3;
    grid-column: 2/3;
  }

  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  .dateContainer {
    display: flex;
    width: 80%;
  }


}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.dateContainer label {
  color: hsl(0, 1%, 44%);
  font-weight: 700;
  font-family: 'Poppins Regular', sans-serif;
  letter-spacing: 2px;
  
}

.hrContainer {
  display: flex;
  align-items: center;
}

hr {
  flex-grow: 1;
  border: none;
  border-top: 1px solid hsl(0, 0%, 86%);
}

.svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(259, 100%, 65%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.svg-container :hover {
  background-color:  hsl(0, 0%, 8%);
  border-radius: 50%;
}

.svg-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.error {
  color: hsl(0, 100%, 67%);
  font-size: 14px;
  margin-top: 5px;
}

.dateContainer .errorlabel {
  color: hsl(0, 100%, 67%);
}

input[type="number"]::placeholder {
  color: hsl(0, 1%, 44%); 
}
input {
  margin-right: 2rem;
  font-size: 32px;
  font-weight: 700;
  color: hsl(0, 0%, 8%);
  width: 10rem;
  padding: 1rem;
  margin-top: .3rem;
  border: 2px solid hsl(0, 0%, 86%);
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
}

.input-active {
  border-color: 2px solid hsl(259, 100%, 65%);
  color: hsl(0, 0%, 8%);
}

/* =========----- since above doesnt work in chrome---========= */
input:focus {
  outline-color: hsl(259, 100%, 65%); 
  outline-width: 2px; 
  outline-style: solid; 
}

/* ======= Null Result */
.resultContainer{
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-style: italic;
  line-height: 64px;
}

#ddResult, #mmResult, #yyResult{
  color: hsl(259, 100%, 65%);
}
